h1{
    text-align:center;
    font-size: 25px;
    color: rgb(255, 255, 255);
}
body {
    background-color: rgb(1, 10, 20);
}
.gato {
    width: 20%;
    left: 50%;
    height: 20%;

}

.nãosei {
background-color: rgb(114, 139, 250)
border: 2px;
}

button{
    display: inline-block;
}